# Ignorar código fonte (já que enviamos o dist)
src/
public/

# Configurações de ferramentas
tsup.config.ts
tailwind.config.ts
postcss.config.js
tsconfig.json
vitest.config.ts
.eslintrc.json

# Testes e Docs
tests/
__tests__/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
CONTRIBUTING.md